body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(231, 229, 229);
}

h1 {
  color: navy;
}

#desplegable {
  position: absolute;
  display: none;

}

#Funcions:hover #desplegable {
    display: block;
}

#Funcions:hover {
    opacity: 0.7;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #3ead47;
}
.contenido {
  padding-top: 80px;
}

.imagen1 {
  height: 30px; 
  width: 90px;
  float: left;
  margin-left: 30px;
}

.td1 {
  margin-left:"70px" 

}

/*Estructura de la información y la pagina: */

section{
  width: 70%;
  margin: auto;
} 

h4{
clear:both;
text-align: left;
margin:10px 0px;
background-color: rgb(243, 229, 217);
}

.esquema1 {
  margin-top: 30px;
  height: 350px;
  background-color: seashell;

}

.imagenes1 {
  float:left;
  height: 300px;
  width: 400px;    
}

.explicar1{
  border-color: black ;
  border: 10px;
  height: 300px;
  width: 400px;
  float: right;
}
.explicacion1 {
  font-style: oblique; 
  margin-top: 125px;
  margin-right: 40px;
  text-align: left;
}

.esquema2 {
  margin-top: 30px;
  height: 350px;
  background-color: seashell;
}
.imagenes2 {
 float: right;
 height: 300px;
 width: 550px;    
}

.explicar2{
 border-color: black ;
 border: 10px;
 height: 350px;
 width: 450px;
 float: left;
}
.explicacion2 {
  font-style: oblique; 
  margin-top: 125px;
  margin-right: 40px;
  text-align: left;
}
.esquema3 {
  margin-top: 30px;
  height: 600px;
  background-color: seashell;
}
.imagenes3 {
  align-items: center;
  height: 300px;
  width: 1000px;    
}

.explicar3 {
  border-color: black ;
  border: 10px;
  height: 50px;
  width: 1000px;
}
.explicacion3 {
  font-style: oblique; 
  margin-top: 50px;
}

.esquema4 {
margin-top: 30px;
height: 350px;
background-color: seashell;
}
.imagenes4 {
float:left;
height: 300px;
width: 400px;  
}
.explicar4 {
border-color: black ;
border: 10px;
height: 300px;
width: 400px;
float: right;
}
.explicacion4 {
font-style: oblique; 
margin-top: 125px;
margin-right: 10px;
text-align: left;
}
.esquema5 {
margin-top: 30px;
height: 500px;
background-color: seashell;
}
.imagenes5 {
align-items: center;
height: 300px;
width: 500px;    
}

.explicar5 {
border-color: black ;
border: 10px;
height: 50px;
width: 1000px;
}
.explicacion5 {
font-style: oblique; 
margin-top: 50px;
}

.esquema6 {
margin-top: 0px;
height: 350px;
background-color: seashell;
}
.imagenes6 {
  margin-top: 0px;
float:left;
height: 300px;
width: 400px;  
}
.explicar6 {
border-color: black ;
border: 10px;
height: 300px;
width: 400px;
float: right;
}
.explicacion6 {
font-style: oblique; 
margin-top: 125px;
margin-right: 10px;
text-align: left;
}

.esquema7 {
margin-top: 30px;
height: 600px;
background-color: seashell;
}
.imagenes7{
align-items: center;
height: 300px;
width: 500px;    
}

.explicar7 {
border-color: black ;
border: 10px;
height: 50px;
width: 1000px;
}
.explicacion7 {
font-style: oblique; 
margin-top: 50px;
}

.esquema8 {
margin-top: 30px;
height: 350px;
background-color: seashell;
}
.imagenes8 {
float:left;
height: 300px;
width: 400px;  
}
.explicar8 {
border-color: black ;
border: 10px;
height: 300px;
width: 400px;
float: right;
}
.explicacion8 {
font-style: oblique; 
margin-top: 130px;
margin-right: 10px;
text-align: left;
}

.esquema9 {
  margin-top: 30px;
  height: 350px;
  background-color: seashell;
}
.imagenes9 {
 float: right;
 height: 300px;
 width: 550px;    
}

.explicar9{
 border-color: black ;
 border: 10px;
 height: 350px;
 width: 450px;
 float: left;
}
.explicacion9 {
  font-style: oblique; 
  margin-top: 125px;
  margin-right: 40px;
  text-align: left;
}

.esquema10 {
  margin-top: 30px;
  height: 350px;
  background-color: seashell;
}
.imagenes10 {
 float: right;
 height: 300px;
 width: 550px;    
}

.explicar10{
 border-color: black ;
 border: 10px;
 height: 350px;
 width: 450px;
 float: left;
}
.explicacion10 {
  font-style: oblique; 
  margin-top: 125px;
  margin-right: 40px;
  text-align: left;
}

.esquema11 {
  margin-top: 30px;
  height: 300px;
  background-color: seashell;

}

.imagenes11 {
  float:left;
  height: 200px;
  width: 600px;    
}

.explicar11{
  border-color: black ;
  border: 10px;
  height: 300px;
  width: 400px;
  float: right;
}
.explicacion11 {
  font-style: oblique; 
  margin-top: 125px;
  margin-right: 40px;
  text-align: left;
}
  
.esquema12 {
  margin-top: 30px;
  height: 350px;
  background-color: seashell;
  }
  .imagenes12 {
  float:left;
  height: 300px;
  width: 400px;  
  }
  .explicar12 {
  border-color: black ;
  border: 10px;
  height: 300px;
  width: 400px;
  float: right;
  }
  .explicacion12 {
  font-style: oblique; 
  margin-top: 130px;
  margin-right: 10px;
  text-align: left;
  }

  .esquema13 {
    margin-top: 30px;
    height: 350px;
    background-color: seashell;
    }
    .imagenes13 {
    float:left;
    height: 300px;
    width: 400px;  
    }
    .explicar13 {
    border-color: black ;
    border: 10px;
    height: 300px;
    width: 400px;
    float: right;
    }
    .explicacion13 {
    font-style: oblique; 
    margin-top: 130px;
    margin-right: 10px;
    text-align: left;
    }

    .esquema14 {
      margin-top: 0px;
      height: 350px;
      background-color: seashell;
      }
      .imagenes14 {
        margin-top: 0px;
      float:left;
      height: 300px;
      width: 400px;  
      }
      .explicar14 {
        text-align: center;
      border-color: black ;
      border: 10px;
      height: 300px;
      width: 400px;
      float: right;
      }
      .explicacion14 {
      font-style: oblique; 
      margin-top: 125px;
      margin-right: 0px;
      text-align: left;
      }

      .esquema15 {
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
      }
      .imagenes15 {
       float: right;
       height: 300px;
       width: 550px;    
      }
      
      .explicar15{
       border-color: black ;
       border: 10px;
       height: 350px;
       width: 450px;
       float: left;
      }
      .explicacion15 {
        font-style: oblique; 
        margin-top: 125px;
        margin-right: 40px;
        text-align: left;
      }

      .esquema16 {
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
        }
        .imagenes16 {
        float:left;
        height: 300px;
        width: 400px;  
        }
        .explicar16 {
        border-color: black ;
        border: 10px;
        height: 300px;
        width: 400px;
        float: right;
        }
        .explicacion16 {
        font-style: oblique; 
        margin-top: 130px;
        margin-right: 10px;
        text-align: left;
        }

      .esquema17 {
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
      }
      .imagenes17 {
       float: right;
       height: 300px;
       width: 550px;    
      }
      
      .explicar17{
       border-color: black ;
       border: 10px;
       height: 350px;
       width: 450px;
       float: left;
      }
      .explicacion17 {
        font-style: oblique; 
        margin-top: 125px;
        margin-right: 40px;
        text-align: left;
      }

      .esquema18 {
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
        }
        .imagenes18 {
        float:left;
        height: 300px;
        width: 400px;  
        }
        .explicar18 {
        border-color: black ;
        border: 10px;
        height: 300px;
        width: 400px;
        float: right;
        }
        .explicacion18 {
        font-style: oblique; 
        margin-top: 130px;
        margin-right: 10px;
        text-align: left;
        }

      .esquema19 {
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
      }
      .imagenes19 {
       float: right;
       height: 300px;
       width: 550px;    
      }
      
      .explicar19{
       border-color: black ;
       border: 10px;
       height: 350px;
       width: 450px;
       float: left;
      }
      .explicacion19 {
        font-style: oblique; 
        margin-top: 125px;
        margin-right: 40px;
        text-align: left;
      }

      .esquema20{
        margin-top: 30px;
        height: 350px;
        background-color: seashell;
      }
      .imagenes20 {
       float: right;
       height: 300px;
       width: 550px;    
      }
      
      .explicar20{
       border-color: black ;
       border: 10px;
       height: 350px;
       width: 450px;
       float: left;
      }
      .explicacion20 {
        font-style: oblique; 
        margin-top: 125px;
        margin-right: 40px;
        text-align: left;
      }
      
    