body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(231, 229, 229);
  }

  h1 {
    color: navy;
  }

  #desplegable {
    position: absolute;
    display: none;

  }

  #Funcions:hover #desplegable {
      display: block;
  }
  
  #Funcions:hover {
      opacity: 0.7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #3ead47;
  }
  .contenido {
    padding-top: 80px;
  }
  
  .imagen1 {
    height: 50px; 
    width: 120px;
    float: left;
    margin-left: 30px;
  }

  .td1 {
    margin-left:"70px" 

  }

  .etiqueta {
    color: darkgreen;
  }

  .echo {
    color: blue;
  }

  section{
    width: 70%;
    margin: auto;
 } 

 h4{
  clear:both;
  text-align: left;
  margin:10px 0px;
  background-color: rgb(243, 229, 217);
}

   .esquema1 {
    margin-top: 30px;
    height: 350px;
    background-color: seashell;

 }

 .imagenes1 {
    float:left;
    height: 300px;
    width: 400px;    
 }

 .explicar1{
    border-color: black ;
    border: 10px;
    height: 300px;
    width: 400px;
    float: right;
 }
 .explicacion1 {
    font-style: oblique; 
    margin-top: 125px;
    margin-right: 40px;
    text-align: left;
 }